# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/
.history/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Eclipse/IntelliJ
*.iml
.idea/
.project
.classpath
.settings/
out/